@import '../../scss/colors.scss';

.search-block-container {
  font-size: 20px;
  width: 690px;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  border: $light-grey 1px solid;
  border-radius: 5px;
  box-shadow: $shadow 0px 2px 10px;

  img {
    padding: 0px 20px 0px 12px;
  }

  input {
    font-size: 20px;
    border: none;
    outline: none;
    flex-grow: 1;
  }

  button {
    font-size: 20px;
    background-color: $teal;
    border: none;
    border-radius: 5px;
    color: $white;
    padding: 10px 15px;
    font-weight: bold;
  }
}