@import '../../scss/colors.scss';

.card-container {
	border: 1px solid $border-grey;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.3s;

	// Move to somewhere else
	p {
		margin: 0;
	}

	.card-top {
    text-align: center;
		position: relative;
		overflow: hidden;
		height: 12rem;
		img {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			user-select: none;

			-webkit-user-drag: none;
			-khtml-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
			-ms-user-drag: none;
      user-drag: none;
      
      height: 100%;
    }
	}

	.card-content {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding: 0.8em;
	}

	.card-category {
		color: $blue;
		font-size: 0.8rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	.card-description {
		color: $grey;
		font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
	}

	.card-date {
		color: $grey;
		font-size: 0.8rem;
	}

	.card-seller {
		color: $teal;
		font-size: 0.8rem;
	}

	&:hover {
		box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
		border: transparent 1px transparent;
	}
}
