$white: #ffffff;
$black: #000000;
$light-grey: #dcdcdc;
$teal: #0cc3be;
$blue: #2a86ff;
$light-blue: #358afa;
$purple: #9366d5;
$grey: #484848;
$border-grey: #dbdbdb;
$shadow: #ececec;
$light-blue: #3acce1;
